.customer-review {
    width: 100%;
     height: max-content;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;

      h3 {  
        margin-block: 1rem;
        font-size: 2rem;
        text-transform: capitalize;
      }   
}
    .extremes-header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
    
.review-texts {
  margin: 0;
}
  .search-review {
    width: 95%;
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 0.5rem;
  }
  .review-top {
    padding: 0.8rem;
    box-sizing: border-box;
  }
  .write-review {
        width: max-content;
        padding: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        border-style: none;
        border-radius: 0.5rem;
        background-color: #ff5711;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
      }
      .extreme {
        width: 95%;

      }
      .selection-box {
        width: 95%;
        height: 5rem;
        display: flex;
        flex-direction: column;
      }
      .gas-vendor-select {
        width: 100%;
        padding: 0.6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

      }
      .shrink {
        padding: 0.4rem;
      }
      .vendor-to-review {
        width: 100%;
        padding: 0.5rem;
        border-style: none;
        background-color: #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-radius: 0.5rem;

      }
      .setVendor {
        width: max-content;
        padding: 0.4rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        box-sizing: border-box;
        input {
          width: 50vw;
          border: none;
          outline: none;
          background-color: transparent;
          text-transform: capitalize;
        }
      }

      .arrow-down {
        border: none;
        background-color: none;
        padding: 0.3rem;
        font-size: 1.2rem;
      }
      .select-vendor {
        width: 20rem;
        max-height: 20rem;
        overflow-y: auto;  
        padding: 1rem;
        border-radius: 0.5rem;
        background: #fff;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 999;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        li {
          font-size: 0.9rem;
          color: #262626;
          cursor: pointer;
          padding: 0.3rem;
        }
        li:hover {
          background-color: #00000015;
        }
      }
      .review-this-vendor {
        width: max-content;
        padding: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        background-color: #fff;
        border-style: none;
        border-radius: 0.5rem;
        cursor: pointer;
        color: #000;
        font-size: 1rem;
        text-transform: capitalize;
      }

      .rate-section {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        p {
          width: max-content;
          display: flex;
          align-items: center;
          gap: 0.6rem;
        }
      }

      .the-rating {
        width: 95%;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
      }
      .customer-feedback {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      div.hr {
        width: 95%;
        height: 2.2rem;
        display: flex;
        align-items: center;

    }