.spinnerimgholder {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  padding: 0 1rem;
}
.spinnerimgContainer {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
}

.spinnerimgContainer img {
  animation: spin 1s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}