.DashboardlayoutWrapper {
  width: 100%;
  height: 100vh;
}

.Content-wrapper {
  width: 100%;
  display: flex;
  gap: 15px;
  padding: 10px;
}

.sidebar-wrapper {
  width: 18%;
  display: flex;
  justify-content: center;
}
