.dashboard-wrapper {
  width: 100%;
  height: max-content;
  position: sticky;
  top: 0;
  z-index: 99999;
}
.header-wrapper {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

.header-container {
  padding: 30px;
  display: flex;
  align-items: center;
}

.imgLogo {
  width: 70px;
  height: 50px;
}
.header-container > h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: #005bac;
}
.header-container > h2 > span {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: #ff7f11;
}
