.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.form-container {
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-container > header {
  width: 40%;
  display: flex;
  margin-top: 20px;
  padding-left: 30px;
}

.image {
  width: 40px;
  height: 30px;
}
.form-container > header > h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: #005bac;
}
.form-container > header > h1 > span {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: #ff7f11;
}
.cardBodyWrapper {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  height: 58rem;
}

.cardBody {
  width: 48.875rem;
  height: 56rem;
  padding: 2rem;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;

    h3 {
      font-weight: 700;
      font-size: 32px;
      /* line-height: 120%; */
    }

    p {
      font-size: 16px;
      font-weight: 400;

      line-height: 120%;
    }
  }
}
.cardBody > h4 {
  padding-left: 2.7rem;
  margin-bottom: 15px;
}
.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.spinnerimgholder {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  padding: 0 1rem;
}
.spinnerimg {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 8px;
}
.spinnerimg svg,
.spinnerimg img {
  animation: spin 1s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
