
.businessCard {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.firstColumn {
  display: flex;
  gap: 15px;
}
.businessGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.businessGroup label {
  font-size: 14px;
  color: #374151;
  font-weight: 500;
}
.businessGroup input {
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  background: #f3f4f6;
  outline: none;
}

.business-submitContainer {
  display: flex;
  justify-content: flex-end;
}
.business-submitBtn {
  background: #f97316;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.faint-input {
  color: #6b7280;      
  background-color: #f9fafb; 
  cursor: not-allowed;  
}
