.dashboard_header {
  width: 100%;
  height: 12vh;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
}

.dashboard_headerWrapper {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
}

.logo_placeholder {
  width: 40px;
  height: 40px;
  background-color: #ff5722;
  border-radius: 8px;
  margin-right: 10px;
}

.brand_name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff9800;
}

.header_right {
  display: flex;
  align-items: center;
}

.user_image_placeholder {
  width: 35px;
  height: 35px;
  background-color: #ff9800;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.user_info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.user_name {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.user_role {
  font-size: 0.8rem;
  font-weight: 400;
  color: #888;
}
