.logoutmodal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}
.logoutmodal-content {
    width: 90%;
    max-width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}
.logoutmodal-content span {
    margin-bottom: 1rem;
}
.logoutmodal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.confirm-logout {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}
.cancel-logout {
    background-color: #ccc;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}