.userdashboard { 
    width: 100%;
    height: max-content;    
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #e5e7eb42;

}
.dashboard-grid {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    margin-bottom: 0.5rem;
    display: grid;
    background:  #e5e7eb42;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px max-content;   
    row-gap: 1rem;
    grid-template-areas: 
    "header header"
    "sidebar main"
}
.header {
    grid-area: header;
    width: 100%;
    height: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #00000018;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 90;
}
.fire {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: #fff;
    border-radius: 0.3rem;
    margin-inline: 0.5rem;
}
.glorys-profile {
    background-color: hsl(18, 100%, 50%);
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-placeholder {
    font-size: 1.8rem;
    color: #fff;
}
.user {
    display: flex;
    gap: 1rem;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
}
.header-content {
    width: 95%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;

}
.user-sidebar {
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.navigation {
    width: 15rem;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 1%;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 0;
    border-radius: 0.9rem;
    background-color: #fff;
    
}
.navigation .nav {
    width: 80%;
    padding: 0.4rem;
    box-sizing: border-box;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    gap: 1rem;
    margin-block: 0.5rem;
    color: #00000098;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}
.nav-link {
    font-size: 1.2rem;
   
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    background-color: #ff7f0f36;
    span {
        color: #ff7f11;
    }
    .nav-link {
    font-size: 1.6rem;
    color: #ff7f11;
    
}  
}

.burger, .close {
    display: none;
    cursor: pointer;
   background: none;
   border: none; 
}


@media screen and (max-width: 630px) {
    .glorys-profile {
        display: none;
    }
    .burger, .close {
        display: block;
    }
    .user-sidebar {
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        
    }
    .navigation {
            width: 100%;
            height: 100vh;
            margin-top: 2rem;
            position: absolute;
            top: 10%;
            left: 0;
            z-index: 1000000;
            overflow-y: hidden;
            border-radius: 0;
        }
    .user span {
        display: none;
    }
    .header {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 99999;
        background-color: #fff;
        h6, span {
            font-size: 0.9rem;
        }
        .fire {
            width: 1rem;
            height: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .header-content {
        position: relative;
        background-color: #fff;
        padding: 1rem;
        img {
            width: max-content;
            height: 2.5rem;
        }
    }
    
   .dashboard-grid {
    display: flex;
    flex-direction: column;
   }
   .main {
    width: 100%;
    display: flex;
    justify-content: center;
   }
}
