.userdashboard { 
    width: 100%;
    height: max-content;    
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #e5e7eb42;

}
.dashboard-grid {
    width: 100%;
    height: max-content;
    margin-bottom: 0.5rem;
    display: grid;
    background:  #e5e7eb42;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px max-content;   
    row-gap: 1rem;
    /* column-gap: 3rem; */
    grid-template-areas: 
    "header header"
    "sidebar main"
}
.header {
    grid-area: header;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #00000018;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 90;
}
.fire {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: #fff;
    border-radius: 0.3rem;
    margin-inline: 0.5rem;
}
.glorys-profile {
   
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-placeholder {
    font-size: 1.8rem;
    color: #fff;
}
.user {
    display: flex;
    gap: 1rem;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
}
.header-content {
    width: 95%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;

}
.sidebar {
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.navigation {
    width: 15rem;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 1rem;
    border-radius: 0.9rem;
    background-color: #fff;
    
}
.navigation .nav {
    width: 80%;
    padding: 0.4rem;
    box-sizing: border-box;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    gap: 1rem;
    margin-block: 0.5rem;
    color: #00000098;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}
.nav-link {
    font-size: 1.2rem;
   
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.active {
    background-color:  #f0dccc;
    span {
        color: #ff7f11;
    }
    .nav-link {
    font-size: 1.6rem;
    color: #ff7f11;
    
}  
}



.burger {
    display: none;
}

.userDashboard-logout {
  width: 223px;
  height: 47.98px;
  border-radius: 10px;
  /* background-color: #f0dccc; */
  display: flex;
  gap: 10px;
  padding: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
 
  align-items: center;
  
}
@media screen and (max-width: 630px) {
    .glorys-profile {
        display: none;
    }
    .burger {
        display: block;
    }
    .sidebar {
        
        width: 100%;
        height: max-content;
        /* height: 10vh; */
        background-color: #fff;
        position: absolute;
        z-index: 100000;
        top: 0;
        .navigation {
            width: 100%;
            height: 100vh;
            margin-top: 4rem;
            position: absolute;
            top: 100%;
            z-index: 1000000;
            overflow-y: hidden;
            border-radius: 0;
        }
    }
    .user span {
        display: none;
    }
    .header {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        background-color: #fff;
        h6, span {
            font-size: 0.9rem;
        }
        .fire {
            width: 1rem;
            height: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .header-content {
        position: relative;
        background-color: #fff;
        padding: 1rem;
    }
   .dashboard-grid {
    display: flex;
    flex-direction: column;
   }
   .main {
    width: 100%;
    display: flex;
    justify-content: center;
   }
}
.user-profile-image {
  width: 40px;  
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
