.completionmodal {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.027);
    backdrop-filter: blur(1px);
     position: fixed;
      top: 0;  
     left: 0; 
     z-index: 9999; 
     overflow-y: auto;
}

.the-modal-itself {
    width: 30rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: 0.3rem;
    background-color: #fff;
    border-radius: 0.5rem;
    gap: 0.4rem;
    padding-block: 1rem;
     position: relative;
     z-index: 10000;

}


.modal-heading {
    width: 95%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.2rem;
    h3 {
        text-transform: capitalize;
        margin: 0 0;
    }

}
.order-code {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h4 {
        text-transform: capitalize;
        margin-block: 0;
    }
}

.the-vendor-name {
    color: #000000;
    text-transform: capitalize;
}
.order-info {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.order-info-details {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.total-amt {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
.generate-holder {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.generate {
    width: 100%;
    height: max-content;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-style: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: darkorange;
}
.icon-type {
    color: #636363;
    font-size: 1.2rem;
} 
.the-order-info {
    text-transform: capitalize;
    color: #696969;
}
.currency {
    display: flex;
    align-items: center;
}