.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-itself {
  background: #fff;
  border-radius: 14px;
  width: 550px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  animation: popIn 0.25s ease;
  max-height: 85vh;
  overflow-y: auto;
}


.modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-heading .left-part {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}

.modal-heading h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.verificationIcon{
    color: #ffb200;
    font-size: 1.9rem;
}
.x-btn {
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}


.order-id {
  background: #fff8f2;
  border: 1px solid #ffe0c2;
  border-radius: 8px;
  padding: 14px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  
 
}

.order-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-number {
  font-weight: 600;
  color: #333;
  font-size: 0.98rem;
  color: #ffb200;
  display: flex;
  align-items: center;
  gap: 6px;
}

.out-for-delivery {
  background: #60b373;
  color: #FFF;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: 600;
  white-space: nowrap;
}

.order-type {
  font-size: 0.98rem;
  color: #333;
  margin: 0;
   color: #ffb200;

}

.order-vendor {
  font-size: 0.98rem;
  color: #666;
  margin: 0;
   color: #ffb200;
}


.verification {
  text-align: center;
}

.verify-code {
  width: 100%;
  background: #fff;
  border: 1.5px solid #ffb200;
  border-radius: 8px;
  padding: 10px 0;
  color: #ffb200;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 18px;
}

.verify-code:hover {
  background: #fff7e0;
}

.security-notice {
  display: flex;
  gap: 10px;
  background: #fffaf3;
  border: 1px solid #ffe8c4;
  border-radius: 8px;
  padding: 12px;
}

.security-notice .icon {
  color: #ffb200;
  font-size: 1.2rem;
}

.security-notice .security .title {
  color: #ffb200;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
}

.security-notice .security p {
  font-size: 0.9rem;
  color: #444;
  margin-top: 4px;
}


.the-code-box {
  background: #f8f9fb;
  border-radius: 10px;
  text-align: center;
  padding: 18px 10px;
}

.the-code-box .shield {
  color: #3d589c;
  font-size: 3rem;
  margin-bottom: 5px;
}

.the-code-box h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 5px 0;
}

.the-code-box p {
  text-transform: capitalize;
  color: #333;
  font-weight: 500;
}

.the-code-box small {
  color: #666;
}


