.modal-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.027);
    backdrop-filter: blur(1px);
    position: absolute;
    top: 0;   
    z-index: 99999;
}

.modal-itself {
    width: 50%;
    /* height: max-content; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: 0.3rem;
    background-color: #fff;
    border-radius: 0.5rem;
    gap: 0.8rem;
    padding: 1rem;
    /* box-shadow: ; */

}
.modal-heading {
    width: 95%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    h4 {
        text-transform: capitalize;
    }

    .left-part {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .x-btn {
        width: max-content;
    }
}
.order-id {
    width: 95%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
    padding: 0.8rem;
    border: 2px solid orangered;
    border-radius: 0.5rem;
    background-color: pink;
    color: darkorange;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .small {
        margin-top: 0.4rem;
       /* background-color: #fff; */
       width: 3rem;
    }
    .start {
        width: 70%;
        display: flex;
        align-items: flex-start;
        p {
            margin-block: 4px;
        }
    }
}
.out-for-delivery {
    width: max-content;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    background-color: rgb(25, 206, 64);
    color: #fff;
    border-style: none;
    border-radius: 0.5rem;
}
.verification {
    width: 95%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.verify-code {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem;
    color: darkorange;
    text-transform: capitalize;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 3px solid #ddd;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }
    .security-notice {
        width: 95%;
        height: max-content;
        padding: 0.5rem;
        background-color: rgba(255, 137, 28, 0.349);
        border: 1px solid darkorange;
        border-radius: 0.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        .icon {
            width: 2rem;
        }
        .security {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;   
        }
        .title {
            text-transform: capitalize;
            width: max-content;
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }
    .the-code-box {
        width: 95%;
        height: max-content;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
        background-color: rgba(211, 211, 211, 0.137);
        border: 4px solid #ddd;
        border-radius: 0.5rem;
        
        .shield {
            font-size: 3rem; 
            color: blue;
        }
        p {
            margin: 0;
            text-transform: capitalize;
        }
        h3 {
            margin: 0;
        }
        small {
            color: darkgray;
        }
    }