.ordermodal {
    width: 100%;
    height: 100vh;
    min-height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.027);
    backdrop-filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.the-modal-itself {
    width: 35rem;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: 0.3rem;
    background-color: #fff;
    border-radius: 0.5rem;
    gap: 0.4rem;
    padding: 0.6rem;
    transform: scale(0.95);

}
.modal-heading {
    width: 95%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.vendors-name {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
}
.the-vendor-name {
    color: #ddd;
    text-transform: capitalize;
}
.specs {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        text-transform: capitalize;
    }

}
.the-spec {
    width: 100%;
    height: 3rem;
    display: flex;
    border-radius: 0.5rem;
    background-color: #eee;
    border-style: none;
    padding-inline-start: 0.6rem;
    box-sizing: border-box;
}
.the-spec-input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;  
}
.small {
    color: #eee;
}
.specs textarea {   
    width: 100%;
    height: 4rem;
    resize: none;
    border-radius: 0.5rem;
    background-color: #eee;
    border-style: none;
    padding: 0.6rem;
    box-sizing: border-box;
}
.delivery-fee-info {
    width: 95%;
    height: 3rem;
    padding: 0.5rem;
    border: 1px solid #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .inline-delivery-info {
        width: 100%;
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }

    .smallblackdot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #000;
    }
    .smallblackdot-bg {
         width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: scale(0.5);
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.item-details {
        width: 95%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0.5rem;
        background-color: #f5f5f5;
        

        .calc {
            width: 95%;
            padding-inline: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .line {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            hr {
                width: 95%;
            }
        }
    }
        
    .choice-btns {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     .cancel-order {
        width: 48%;
        padding: 0.8rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.6rem;
        border: 1px solid #000;
        border-style: none;
        font-size: 1rem;
        cursor: pointer;
        text-transform: capitalize;
        gap: 0.5rem;
    }
    .to-continue { 
        background-color: darkorange;
        color: #fff;
    }