.payment-modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000000c;
}

.modal {
    width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0.8rem;
    position: fixed;
    left: 2 5%;
    z-index: 9999;
    gap: 1.5rem;
    h3 {
        font-size: 1.5rem;
    }
}
input[type = "radio"] {
    accent-color: orangered;
    cursor: pointer;

}
.cancel {
    width: 95%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.x-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.continue {
    width: 70%;
    height: max-content;
    padding: 0.6rem;
    background-color: darkorange;
    color: #fff;
    border-radius: 0.5rem;
    border-style: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}
.back {
    color: darkorange;
    text-transform: capitalize;
    cursor: pointer;
}

.icon-choice {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.6rem;
}
.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    strong {
        width: 70%;
        text-transform: capitalize;
        font-size: 1.2rem;
    }
}
.spn {
    color: orangered;
    font-size: 1.4rem;
}
.line {
    width: 95%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    hr {
        width: 95%;
    }
}