.modal-overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000014;
    position: fixed;
    z-index: 999;
}
.modal-content {
    width: 35%;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 1.2rem;
    gap: 0.8rem;
    background-color: #fff;
    border-radius: 1rem;
}
strong.review {
    font-size: 1.2rem;
    background-color: transparent;
    text-transform: none;
    margin: 0 0;
    padding: 2px;
}
.close {
    width: 2rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border: none;
    font-size: 1.2rem;
    position: absolute;
    right: 1%;
}
.vendor-selected {
    width: 95%;
    height: 3rem;
    border-style: none;
    background-color: #d4d4d431;
    border-radius: 0.6rem;
    padding: 1.2rem;
    display: flex;
    align-items: center;
}
.stars {
    width: max-content;
    padding: 0.4rem;
    font-size: 1.5rem;
    color: #d4d4d4;
}
textarea {
    width: 95%;
    height: 5rem;
    border-radius: 0.6rem;
    background-color: #d4d4d431;
    padding: 0.5rem;
    border: none;
    outline: none;
    resize: none;
}
.btns {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
}
.cancel {
    width: max-content;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.4rem;
    border-style: none;
    border: 1px solid #16151531;
    font-size: 0.9rem;
}
.submit {
    background-color: #ff7f11;
    border: 1px solid #d4d4d431;
}
