* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.roboto {
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  width: 100%;
  height: 100vh;
}

.Toastify__toast-container {
  top: 10vh !important;   
  z-index: 100000 !important;
}


.Toastify__toast {
  background-color: #fff !important;
  color: #111827 !important; 
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


/* Global loading overlay */
.global-loading {
  position: absolute;         /* relative to parent container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;                /* On top of page content, but below sidebar/header if they have higher z-index */
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

