* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.roboto {
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  width: 100%;
  height: 100vh;
}

.Toastify__toast-container {
  top: 10vh !important;   
  z-index: 100000 !important;
}


.Toastify__toast {
  background-color: #fff !important;
  color: #111827 !important; 
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


/* .Toastify__progress-bar {
  display: none !important;
} */
