.login {
     width: 100%;
    height: max-content;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.Forgot {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: green;
}